{% extends 'base.html' %}
{% load static %}
{% block content %}

<form id="checkout" method="post">

<div class="row">
    <hr>
    <h2><b> CHECKOUT PAGE </b></h2>
    <hr>

    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            {% if not user.is_authenticated %}
            <div id="user-info">
            <hr>
            <h3>User Information:</h3>
            <hr>
                {% csrf_token %}
                {{ customer_form.as_p }}
            </div>
            {% endif %}
            <div id="shipping-info">
                <hr>
                <h3>Shipping Information:</h3>
                <hr>
                {% csrf_token %}
                {{ shipping_form.as_p }}
            </div>

            <hr>
            <input id="confirm-order" class="btn btn-outline-success " type="submit" value="Confirm">

        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">

            <hr>
            <h3>Order Summary:</h3>
            <hr>

            <table class="table" id="display-checkout">
            </table>

            <h5>You have <span id='cart-items'></span> items in your shopping cart</h5>
            <h5>Total cost of the shopping cart:  <span id='cart-total'></span> €</h5>

            <a  class="btn btn-outline-primary" href="/shopping_cart/list">&#x2190 Back to Cart</a>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
{% endblock %}