{% extends 'base.html' %}

{% block content %}
<th><img src=" /media/check_out1.jfif " width="150"> <br/></th>

    <p><b> SHOPPING CART PAGE </b></p>
    user.pk: {{user.pk}}
    {% if user.is_authenticated %}
<!--    <p>Here are the details of your shopping cart via Database:</p><br/>
    <table class="table">
        <tr>
            <th>PK</th>
            <th>user_name</th>
            <th>created_time</th>
        </tr>
        {% for shopping_cart in shopping_carts %}
            {% if shopping_cart.user_name_id == user.pk %}
            <tr>
                <td>{{ shopping_cart.pk }}</td>
                <td>{{ shopping_cart.user_name_id }}</td>
                <td>{{ shopping_cart.created_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    Here is the content of your shopping cart {{ shopping_cart.pk }}:
    <table class="table">
        <tr>
            <th>PK</th>
            <th>shopping_cart</th>
            <th>shopping_cart_id</th>
            <th>added</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price/pcs</th>
            <th>Price total</th>

        </tr>
        {% for shopping_cart_item in shopping_cart_items %}
            {% if shopping_cart_item.shopping_cart_id == user.pk %}
            <tr>
                <td>{{ shopping_cart_item.pk }}</td>
                <td>{{ shopping_cart_item.shopping_cart }}</td>
                <td>{{ shopping_cart_item.shopping_cart_id }}</td>
                <td>{{ shopping_cart_item.added_time }}</td>
                <td>{{ shopping_cart_item.product }}</td>
                <td>{{ shopping_cart_item.product_quantity }}</td>
                <td>{{ shopping_cart_item.product_price }}</td>
                <td>{{ shopping_cart_item.calc_total }}</td>
                <th><a class="btn btn-danger" href="{% url 'shopping_cart_itemDelete' shopping_cart_item.pk %}" role="button"><img src=" /media/delete.png " width="15"></a><br/></th>
            </tr>
            {% endif %}
        {% endfor %}


    </table><br/>-->



    <p><b> Here is the content of your shopping cart presented with javaScript</b></p>

    <table class="table" id="display-cart">
    </table>

<!--    <p><b> YOUR CURRENT SHOPPING CART TOTAL IS: <a id="cart-total"></a> € </b></p><br/>-->




    <a class="btn btn-primary" href="{% url 'check_out_list' %}" role="button">Check Out</a>
    <a class="btn btn-primary" href="{% url 'check_out_list' %}" role="button">Products</a>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

    {% else %}
    you need to be logged in to see the content <br/>
    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login </a>

    {% endif %}




{% endblock %}

{% block script %}
<script src="/static/js/popup1.js"></script>
<script src="/static/js/cart.js"></script>

{% endblock %}