{% extends 'base.html' %}

{% block script %}
<script src="/static/js/popup1.js"></script>
{% endblock %}

{% block content %}
<th><img src=" /media/box.jfif " width="200"> <br/></th>
<p><b>PRODUCT LIST PAGE</b></p><br/>
    {% if user.is_authenticated %}
    <table class="table">
        <tr>
            <th>PK</th>
            <th>Name</th>
            <th style="text-align: right; padding-right: 50px">Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Add to Cart</th>
            <th>Add to Cart1</th>
            <th>Add to Cart2</th>
        </tr>
        {% for product in products %}

            <tr>
                <td>{{ product.pk }}</td>
                <td><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></td>
                <td style="text-align: right; padding-right: 50px">{{ product.price }} </td>
                <td>{{ product.category.name }}</td>
                <td><img src=" /media/{{ product.image }} " width="50" class="product"> <br/></td>
                <td><button data-pk="{{ product.pk }}"
                            data-price="{{ product.price }}"
                            data-name="{{ product.name }}"
                            data-image="/media/{{product.image}}"
                            data-category="{{ product.category.name }}"
                            class="btn btn-outline-secondary add-to-cart">Add to cart
                </button></td>

                <td><button class="btn btn-outline-primary add_to_cart" href="{% url 'shopping_cart:shopping_cart_itemAdd' %}" role="button">Add to cart</button></td>
                <th><a class="btn btn-primary" href="{% url 'shopping_cart:shopping_cart_itemAdd' %}" role="button">Add to cart</a><br/></th>
            </tr>

        {% endfor %}
    </table>

    <a class="btn btn-primary" href="{% url 'product_create' %}" role="button">Add product </a>

    {% else %}
    you need to be logged in to see the content <br/>
    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login </a>

    {% endif %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- The Close Button -->
    <span class="close">&times;</span>
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

{% endblock %}