{% extends 'base.html' %}
{% load static %}

{% block content %}


<body>

    <th><img src=" /media/glass.jfif " width="150"> <br/></th>
    <p><b> PRODUCT DETAIL PAGE </b> </p> <br/>

        <p>PK: {{ product.pk }}</p>
        <p>Name: {{ product.name }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Category: {{ product.category.name }}</p><br/>

        <img src="{{ product.image.url }}" style="width:100%;max-width:200px" class="product"> <br/>

        <a class="btn btn-primary" href="{% url 'product_update' product.pk %}" role="button">Update product </a>
        <a class="btn btn-danger" href="{% url 'product_delete' product.pk %}" role="button">Delete product </a>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div><br/>
    <br/>
    <p><b> OTHER PRODUCTS IN YOUR CURRENT CART </b> </p> <br/>

    <table class="table" id="display-cart">

    </table>

</body>

{% endblock %}

{% block script %}
<script src="/static/js/popup1.js"></script>

<script>
$( document ).ready(function() {
	console.log(cart);
	var html = ""
	    html += "<tr>";
        html += "<th>PK</th>";
        html += "<th>Image</th>";
        html += "<th>Name</th>";
        html += "<th>Price</th>";
        html += "<th>Category</th>";
        html += "<th>Quantity</th>";
        html += "</tr>";
	for (product in cart ) {
	    html += "<tr>";
		html += "<td>"+ cart[product].pk+"</td>";
		html += "<td><img src="+ cart[product].image+" width=50 height=50 class='product'  alt='My image'></td>"
		html += "<td>"+ cart[product].name+"</td>";
		html += "<td>"+ cart[product].price+"</td>";
		html += "<td>"+ cart[product].category+"</td>";
		html += "<td>"+ cart[product].quantity+"</td>";
		html += "<br/>";
		html += "</tr>";
	}
    console.log(html);
	$('#display-cart').html(html)

});
</script>
{% endblock %}
